@model IEnumerable<RapidContactTracer.Models.SeatingChart>
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="content">
                <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
                <h1>Seating Chart</h1>
                <hr>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>

        .seat {
            height: 150px;
            width: 150px;
            border: 5px solid gray;
            cursor: pointer;
            background-color: black;
        }

        .walk {
            padding-left: 250px;
        }

        #board {
            background-color: gray;
            height: 150px;
            width: 550px;
            border: 5px solid gray;
            cursor: pointer;
        }
    </style>

</head>
<body>
    <div style="border:1px solid gray; width:130px;">
        <table>
            <tr>
                <td colspan="4"></td>
                <td><div class="board"></div></td>
            </tr>
            <tr>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div></td>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div></td>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div></td>
                <td class="walk"></td>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div></td>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div></td>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div></td>
            </tr>
            <tr>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div> </td>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div></td>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div></td>
                <td class="walk">  </td>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div></td>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div></td>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div></td>
            </tr>
            <tr>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div> </td>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div></td>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div></td>
                <td class="walk">  </td>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div></td>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div></td>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div></td>
            </tr>
            <tr>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div> </td>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div></td>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div></td>
                <td class="walk">  </td>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div></td>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div></td>
                <td><div id="leftbox"ondrop="drophere(event)"ondragover="allowdrophere(event)" class="seat"></div></td>
            </tr>
        </table>
        <table>
            <tr>
                <td colspan="4"></td>
                <td><div class="board"></div></td>
            </tr>
            <tr>
                @foreach (var item in Model)
                {
                    <td><div id="rightbox"draggable="true"ondragstart="startdrag(event)" class="seat">@Html.DisplayFor(modelItem => item.FirstName)</div></td>

                }
            </tr>
        </table>

    </div>
    <script>

        allSeats = document.querySelectorAll('.seat');
        for (var i = 0; i < allSeats.length; i++) {
            var seat = allSeats[i];
            seat.addEventListener('click', function () {
                var bgclr = this.style.backgroundColor;
                if (bgclr == 'red')
                    this.style.backgroundColor = 'black'
                else
                    this.style.backgroundColor = 'red'
            }, false);
        }

        function startdrag(e) {
            e.dataTransfer.setData("Text", e.target.id);
        }

        function allowdrophere(e) {
            e.preventDefault();
        }

        function drophere(e) {
            e.preventDefault();
            var data = e.dataTransfer.getData("Text");
            e.target.appendChild(document.getElementById(data));
        }

        function dofirst() {
            image = document.getElementById('rightbox');
            image.addEventListener("dragstart", startdrag, false);
            box = document.getElementById('leftbox');
            leftbox.addEventListener("dragover", allowdrophere, false);
            leftbox.addEventListener("drop", drophere, false);
        }

        function startdrag(e) {
            e.dataTransfer.setData("Text", e.target.id);
        }

        function allowdrophere(e) {
            e.preventDefault();
        }

        function drophere(e) {
            e.preventDefault();
            var data = e.dataTransfer.getData("Text");
            e.target.appendChild(document.getElementById(data));
        } 
    </script>
</body>
</html>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatingID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>


